html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

canvas {
    display: block;
}

#overlay {
    color: white;
    font-family: Helvetica;
}

.btn {
    padding: 12px 6px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    font: 13px Helvetica;
    text-align: center;
    opacity: 0.5;
    outline: none;
    z-index: 999;
    cursor: auto;
    width: fit-content;
}

#select>span {
    padding: 5px;
    color: white;
    font-family: Helvetica;
    width: 100%
}

input[type='radio'][name='buttonGroup'] {
    display: none;
}

label {
    display: inline-block;
    padding: 3px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: #F0F0F0;
    width: 10em;
    text-align: center;
}

/* Clicking a label will select its corresponding hidden radio button
   We can select that radio buttons sibling label and style it. */

input[type='radio'][name='buttonGroup']:checked+label {
    background-color: #a0a0a0;
}

#reticle {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}